*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background: url(../image/macbook.jpg)center center;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.title{
    margin-top: 40px;
    color: rgb(237, 238, 232);
    font-size: 2.5rem;
    font-weight: lighter;
}
.col{
    margin-top: 60px;
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(244, 248, 249);
    font-size: large;
}

.col div{
    width: 250px;
    text-align: center;
    
}
input{
   width: 50%;
   height: 50px;
   border-radius: 100px;
   background-color: rgba(228, 225, 15, 0.6);
   border-color: transparent;
   font-size: 30px;
   text-align: center;
   box-shadow: 2px 2px 2px 1px rgb(168, 166, 166);
}
